@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to document editing</h1>
    <p>This is where the magic happens... or will happen. 
        For now, you can open existing documents to edit them. 
        The 'create new' and 'history' buttons are on their way, along with everything else. 
        The future is under construction.
    </p>

    <script>
        let name = sessionStorage.getItem('user');

        if (!name || name.trim() === '') {
            name = prompt('Please enter your name');

            if (name !== null && name.trim() !== '') {
                sessionStorage.setItem('user', name.trim());
            } else {
                alert('We will mark you as guest');
                sessionStorage.setItem('user', 'guest');
                console.log('User did not provide a name.');
            }
        }
    </script>
</div>
