@{
    ViewData["Title"] = "Documents";
}

<div class="text-center">
    <h1 class="display-4">List of documents you can edit</h1>

    <table class="table table-striped table-hover" id="DocumentsTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Last Edited</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Documents)
            {
                <tr>
                    <td><a href="Documents/Edit/@item.FileName">@item.FileName</a></td>
                    <td>@item.CreationTime.ToString("g")</td>
                    <td>@item.LastWriteTime.ToString("g")</td>
                    <td>@item.SizeKB kb</td>
                </tr>
            }
        </tbody>
    </table>

    <button id="CreateNewBtn" class="mt-4">Create New</button>
</div>