@{
    ViewData["Title"] = "Documents";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <textarea id="MainText" style="width:1000px; height: 600px" onblur="updateTextArea()">@Model.Content</textarea>
    <br />
    <label id="Editors"/>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>

    sessionStorage.setItem('file', '@Model.FileName');

    // Подписываемся на событие beforeunload
    window.addEventListener('beforeunload', sendCloseSignal);

    let isReadOnly = '@Model.IsReadOnly' == 'True';
    if (isReadOnly) {
        document.getElementById('MainText').readOnly = true;
    }

    // Функция для отправки сигнала на сервер
    async function sendCloseSignal() {
        const fileName = sessionStorage.getItem('file');
        const user = sessionStorage.getItem('user');

        if (!fileName) {
            console.log('No file to close signal for.');
            return;
        }

        const messageToSend = JSON.stringify({ fileName, user });

        try {
            await fetch('/Documents/Close', {
                method: 'POST',
                body: messageToSend,
                headers: {
                    'Content-Type': 'application/json'
                },
                keepalive: true
            });

            console.log('Successfully sent close signal.');
        } catch (error) {
            console.error("Error while sending close signal:", error.message);
        }
    }

    //Save content after edit
    async function updateTextArea() {
        const textarea = document.getElementById('MainText');
        const content = textarea.value;
    
        // Some data from session
        const fileName = sessionStorage.getItem('file'); 
        const userFromStorage = sessionStorage.getItem('user');

        if (!fileName) {
            console.error('File name not found in session storage.');
            return;
        }

        const messageToSend = JSON.stringify({ fileName, content, user: userFromStorage });

        try { 
            const response = await fetch('/Documents/Save', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: messageToSend
            });

            if (response.ok) {
                console.log('Successfully saved!');
            } else {
                console.log('Error while saving');
            }
        } catch (error) {
            console.error("Error while saving: ", error.message);
            document.getElementById("Editors").innerHTML = "Unknown editors";
        }

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();
       

        hubConnection.on("Receive", function (message) {
            try {
                console.log('received');
                const parsedMessage = JSON.parse(message);
                console.log(parsedMessage);
                let users = parsedMessage?.ActiveEditors ?? [];
                users = users.join(", ");
                document.getElementById("Editors").innerHTML = "Now edit: " + users;
            } catch (error) {
                console.error("Ошибка при обработке сообщения:", error.message);
                document.getElementById("Editors").innerHTML = "Unknown editors";
            }
        });
        hubConnection.start()
            .then(function () {
                hubConnection.invoke("Send", messageToSend)
                    .catch(function (err) {
                        return console.error(err.toString());
                    });
            })
            .catch(function (err) {
                return console.error(err.toString());
            });
    }
</script>